<div>
  <div class="dialog-container">

    <p class="pageTitle">Você está editando: {{ data.coordenador.name }}</p>

    <form [formGroup]="form">

      <div class="newInput">
        <label for="name">Nome:</label>
        <input type="text" formControlName="name" placeholder="Nome do coordenador" required>
      </div>

      <div class="newInput">
        <label for="coordination">Coordenadoria:</label>
        <select formControlName="coordination" required>
          <option *ngFor="let coordenadoria of coordenadorias" [value]="coordenadoria._id">{{coordenadoria.name}}</option>
        </select>
      </div>

      <div class="buttonGroupForm">
        <button class="button two" (click)="onCancel()">Cancelar</button>
        <button class="button one" (click)="onSubmit()">Salvar edição</button>
      </div>

    </form>
  </div>
</div>
