<div>
  <div class="dialog-container bigWidth">

    <p class="pageTitle">Histórico de alteração de alocação de evento.</p>
    <p class="pageText">
      Evento: {{ data.alocacao.event.name }}<br />
      Descrição: {{ data.alocacao.event.description }}<br />
      Requerente: {{ data.alocacao.applicant }}<br />
      Local: {{ data.alocacao.location.name }}<br />
      Data: {{ data.alocacao.startDate }}<br />
      Horário: {{ data.alocacao.startTime }} ~ {{ data.alocacao.endTime }}<br />
    </p>

    <br>


  </div>
</div>
