<div class="componentContent">

  <p class="pageTitle">Cadastrar Turma</p>

  <div class="boxSize">

    <form [formGroup]="form">

      <div class="newInput">
        <label for="name">Nome:</label>
        <input type="text" formControlName="name" placeholder="Nome da turma" required>
      </div>

      <div class="buttonGroupForm">
        <button class="button two" (click)="onCancel()">Cancelar</button>
        <button class="button one" (click)="onSubmit()">Criar Turma</button>
      </div>

    </form>
  </div>
</div>
