<div>
  <div class="dialog-container">
    <p class="pageTitle">Alunos matriculados.</p>
    <p class="pageText">
      Disciplina: {{ data.aula.discipline.name }}<br />
      Professor: {{ data.aula.teacher.name }}<br />
      Semestre: {{ data.aula.semester.semester }}<br />
    </p>

      <table mat-table [dataSource]="alunos">

        <ng-container matColumnDef="student">
          <th mat-header-cell *matHeaderCellDef>Aluno</th>
          <td mat-cell *matCellDef="let aluno"> {{ aluno.name }} ({{ aluno.studentCode }}) <td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>
            <div class="thButton">
              <button class="subMenuButton newButton" (click)="matricular()">
                <div class="subMenuButtonText">Matricular Aluno</div>
              </button>
            </div>
          </th>
          <td mat-cell *matCellDef="let aluno" class="buttonGroupForm">
            <button mat-button (click)="excluir(aluno)" class="button two delete-button">
              <span class="material-symbols-outlined table-button-icon">delete</span>
            </button>
          </td>
        </ng-container>

        <tr class="header-row" mat-header-row *matHeaderRowDef="['student', 'actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['student', 'actions']"></tr>
      </table>
      <!-- <mat-paginator pageSize="5" showFirstLastButtons></mat-paginator> -->
  </div>
</div>
