<div class="componentContent">

  <p class="pageTitle">Cadastrar Semestre</p>

  <div class="boxSize">

    <form [formGroup]="form">

      <div class="buttonGroupForm">
        <div class="newInput">
          <label for="semesterYear">Ano do semestre:</label>
          <input type="number" formControlName="semesterYear" placeholder="Indique o ano do semestre" required min="2000" [max]="anoMaximo">
        </div>

        <div class="newInput">
          <label for="semesterPartition">Partição:</label>
          <select formControlName="semesterPartition" required>
            <option>1</option>
            <option>2</option>
          </select>
        </div>
      </div>

      <div class="buttonGroupForm">
        <div class="newInput">
          <label for="initialDate">Data de início:</label>
          <input type="date" formControlName="startDate" placeholder="Indique a data inicial do semestre" required>
        </div>

        <div class="newInput">
          <label for="endDate">Data de finalização:</label>
          <input type="date" formControlName="endDate" placeholder="Indique a data final do semestre" required>
        </div>
      </div>

      <div class="buttonGroupForm">
        <button class="button two" (click)="onCancel()">Cancelar</button>
        <button class="button one" (click)="onSubmit()">Criar Semestre</button>
      </div>

    </form>
  </div>
</div>
