<div class="componentContent">
  <p class="pageTitle">Horários</p>

  <div class="boxSize">
    <form [formGroup]="form">
      <div class="selectGroup">
        <div class="newInput">
          <label for="scheduleType">Pesquisar por:</label>
          <select formControlName="scheduleType" (change)="onScheduleTypeChange($event)">
            <option *ngIf="userRole === 'STUDENT' || userRole !== 'TEACHER'">Aluno</option>
            <option *ngIf="userRole === 'TEACHER' || userRole !== 'STUDENT'">Professor</option>
          </select>
        </div>

          <div class="newInput" *ngIf="userRole === 'ADMIN' || userRole === 'COORDINATOR'">
            <div
            class="newInput"
            *ngIf="form.controls['scheduleType'].value === 'Aluno'"
          >
            <label for="scheduleStudent">Matrícula do aluno:</label>
            <input
              type="text"
              formControlName="scheduleStudent"
              placeholder="Matrícula do aluno"
              required

            />
          </div>
          <div
            class="newInput"
            *ngIf="form.controls['scheduleType'].value === 'Professor'"
          >
            <label for="scheduleTeacher">Código do professor:</label>
            <input
              type="text"
              formControlName="scheduleTeacher"
              placeholder="Código do professor"
              required
            />
          </div>
        </div>

        <div
          class="newInput"
          *ngIf="userRole === 'STUDENT'"
        >
          <label for="scheduleStudent">Matrícula do aluno:</label>
          <input
            type="text"
            formControlName="scheduleStudent"
            placeholder="Matrícula do aluno"
            required

          />
        </div>
        <div
          class="newInput"
          *ngIf="userRole === 'TEACHER'"
        >
          <label for="scheduleTeacher">Código do professor:</label>
          <input
            type="text"
            formControlName="scheduleTeacher"
            placeholder="Código do professor"
            required
          />
        </div>
        <div class="newInput">
          <label for="schedulePeriod">Período:</label>
          <select formControlName="schedulePeriod">
            <option
              *ngFor="let periodo of periodos"
              [value]="periodo._id"
              required
            >
              {{ periodo.semester }}
            </option>
          </select>
        </div>
        <div class="buttonGroupForm">
          <button type="submit" class="button one" (click)="onSubmit()">Pesquisar</button>
          <button type="button" class="button two" (click)="onList()">Listagem</button>
          <button type="button" class="button two" (click)="onPrint()">
            <span class="material-symbols-outlined table-button-icon">print</span>
            Imprimir
          </button>
        </div>
      </div>
    </form>

    <br>

    <div class="tableContainer">
      <table class="scheduleTable">
        <thead>
          <tr class="headerRow">
            <th rowspan="2" class="primary-cell"></th>
            <th colspan="6">MATUTINO</th>
            <th colspan="6">VESPERTINO</th>
            <th colspan="4">NOTURNO</th>
          </tr>
          <tr class="scheduleRow">
            <th>07:00<br>7:50</th>
            <th>7:50<br>8:40</th>
            <th>8:40<br>09:30</th>
            <th>09:50<br>10:40</th>
            <th>10:40<br>11:30</th>
            <th>11:30<br>12:20</th>
            <th>13:00<br>13:50</th>
            <th>13:50<br>14:40</th>
            <th>14:40<br>15:30</th>
            <th>15:50<br>16:40</th>
            <th>16:40<br>17:30</th>
            <th>17:30<br>18:20</th>
            <th>18:50<br>19:35</th>
            <th>19:35<br>20:20</th>
            <th>20:30<br>21:15</th>
            <th>21:15<br>22:00</th>
          </tr>
          <tr class="tableContent">
            <th class="weekDay">SEG</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="tableContent">
            <th class="weekDay">TER</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="tableContent">
            <th class="weekDay">QUA</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="tableContent">
            <th class="weekDay">QUI</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="tableContent">
            <th class="weekDay">SEX</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
