<div class="componentContent">

  <div class="backTitle">
    <p class="pageTitle">Cursos cadastrados</p>
    <button class="backPage" (click)="backPage()">
      <span class="material-symbols-outlined">arrow_back</span>
      <p class="pageTitle">Voltar</p>
    </button>
  </div>

  <div class="boxSize">

    <table mat-table [dataSource]="cursos">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let curso"> {{ curso.name }} <td>
      </ng-container>

      <ng-container matColumnDef="identityNumber">
        <th mat-header-cell *matHeaderCellDef>Número de identificação</th>
        <td mat-cell *matCellDef="let curso"> {{ curso.identityNumber }} <td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          <div class="thButton">
            <div>Ações</div>
            <button class="subMenuButton newButton" (click)="cadastrar()">
              <div class="subMenuButtonText">Cadastrar</div>
            </button>
          </div>
        </th>
        <td mat-cell *matCellDef="let obj" class="buttonGroupForm">
          <button mat-button (click)="editar(obj)" class="button 2">
            <span class="material-symbols-outlined table-button-icon">edit</span>
            Editar
          </button>
          <button mat-button (click)="excluir(obj)" class="button 2 delete-button">
            <span class="material-symbols-outlined table-button-icon">delete</span>
            Excluir
          </button>
        </td>
      </ng-container>

      <tr class="header-row" mat-header-row *matHeaderRowDef="['name', 'identityNumber', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'identityNumber', 'actions']"></tr>
    </table>

    <!-- <mat-paginator pageSize="5" showFirstLastButtons></mat-paginator> -->

  </div>
</div>
