<div class="componentContent">

  <p class="pageTitle">Cadastrar Evento</p>

  <div class="boxSize">

    <form [formGroup]="form">

      <div class="newInput">
        <label for="name">Nome:</label>
        <input type="text" formControlName="name" placeholder="Nome do evento" required>
      </div>

      <div class="newInput">
        <label for="description">Descrição:</label>
        <textarea type="text" formControlName="description" placeholder="Descrição do evento" required></textarea>
      </div>

      <div class="buttonGroupForm">
        <button class="button two" (click)="onCancel()">Cancelar</button>
        <button class="button one" (click)="onSubmit()">Criar Disciplina</button>
      </div>

    </form>
  </div>
</div>
