<div>
  <div class="dialog-container">

    <p class="pageTitle">Você está editando: {{ data.aluno.name }}</p>

    <form [formGroup]="form">

      <div class="newInput">
        <label for="name">Nome: *</label>
        <input type="text" formControlName="name" placeholder="Nome do(a) aluno(a)" required>
      </div>

      <div class="newInput">
        <label >Curso: *</label>
        <select formControlName="course" required>
          <option *ngFor="let curso of cursos" [value]="curso._id">{{curso.name}}</option>
        </select>
      </div>

      <div class="newInput">
        <label for="registrationYear">Ano de matrícula: *</label>
        <input type="number" formControlName="registrationYear" [min]="1960" [max]="currentYear" required>
      </div>

      <div class="newInput">
        <label for="name">Código: {{ data.aluno.studentCode }}</label>
      </div>

      <div class="buttonGroupForm">
        <button class="button two" (click)="onCancel()">Cancelar</button>
        <button class="button one" (click)="onSubmit()">Salvar edição</button>
      </div>

    </form>
  </div>
</div>
