<div>
  <div class="dialog-container">

    <p class="pageTitle">Você está editando: {{ data.aluno.name }}</p>

    <form [formGroup]="form">

      <div class="newInput">
        <label for="name">Nome:</label>
        <input type="text" formControlName="name" placeholder="Nome do coordenador" required>
      </div>

      <div class="newInput">
        <label for="name">Código: {{ data.aluno.studentCode }}</label>
      </div>

      <div class="buttonGroupForm">
        <button class="button two" (click)="onCancel()">Cancelar</button>
        <button class="button one" (click)="onSubmit()">Salvar edição</button>
      </div>

    </form>
  </div>
</div>
