<div class="componentContent">

  <p class="pageTitle">Cadastar Coordenador</p>

  <div class="boxSize">

    <form action="/criar-coordenador" method="post">

      <div class="newInput">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" placeholder="Nome do coordenador" required>
      </div>

      <div class="newInput">
        <label for="turno">Turno:</label>
        <select name="turno" required>
          <option>Matutino</option>
          <option>Vespertino</option>
          <option>Noturno</option>
        </select>
      </div>

      <div class="buttonGroupForm">
        <button class="button two" type="button" (click)="cancelar()">Cancelar</button>
        <button class="button one" type="submit">Criar Coordenador</button>
      </div>

    </form>
  </div>
</div>
