<div class="componentContent">

  <div class="backTitle">
    <p class="pageTitle">Coordenadorias cadastradas</p>
    <button class="backPage" (click)="backPage()">
      <span class="material-symbols-outlined">arrow_back</span>
      <p class="pageTitle">Voltar</p>
    </button>
  </div>

  <div class="boxSize">

    <table mat-table [dataSource]="coordenadorias">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let coordenadoria"> {{ coordenadoria.name }} <td>
      </ng-container>

      <ng-container matColumnDef="acronym">
        <th mat-header-cell *matHeaderCellDef>Sigla</th>
        <td mat-cell *matCellDef="let coordenadoria"> {{ coordenadoria.acronym }} <td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let coordenadoria">
          <button mat-button (click)="verDescricao(coordenadoria)" class="button 2">
            <span class="material-symbols-outlined table-button-icon">visibility</span>
            Ver
          </button>
          <td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let coordenadoria" class="buttonGroupForm">
          <button mat-button (click)="editar(coordenadoria)" class="button 2">
            <span class="material-symbols-outlined table-button-icon">edit</span>
            Editar
          </button>
          <button mat-button (click)="excluir(coordenadoria)" class="button 2 delete-button">
            <span class="material-symbols-outlined table-button-icon">delete</span>
            Excluir
          </button>
        </td>
      </ng-container>

      <tr class="header-row" mat-header-row *matHeaderRowDef="['name', 'acronym', 'description', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'acronym', 'description', 'actions']"></tr>
    </table>

    <!-- <mat-paginator pageSize="5" showFirstLastButtons></mat-paginator> -->

  </div>
</div>
