<div class="componentContent">

  <p class="pageTitle">Cadastrar Horário</p>

  <div class="boxSize">

    <form [formGroup]="form">

      <div class="newInput">
        <label for="startTime">Início:</label>
        <input #startTimeField type="time" formControlName="startTime" placeholder="Horário de início da aula" required>
      </div>

      <div class="newInput">
        <label for="endTime">Fim:</label>
        <input type="time" formControlName="endTime" placeholder="Horário de término da aula" required>
      </div>

      <div class="buttonGroupForm">
        <button class="button two" (click)="onCancel()">Cancelar</button>
        <button class="button one" (click)="onSubmit()">Criar Horário</button>
      </div>

    </form>
  </div>
</div>
