<div>
  <div class="dialog-container dialogOK">
    <p class="pageTitle">Alteração de senha</p>
    <p class="pageBody">Digite sua nova senha</p>

    <form [formGroup]="form">
      <div class="newInput password-container">
        <input type="password" formControlName="passwordOne" placeholder="Digite sua nova senha" required id="passwordOne">
        <button type="button" class="toggle-password" (mousedown)="showPassword('passwordOne')" (mouseup)="hidePassword('passwordOne')" (mouseleave)="hidePassword('passwordOne')">
          <span id="eyeIconOne" class="material-symbols-outlined login-visibility">visibility_off</span>
        </button>
        <div *ngIf="form.get('passwordOne')?.touched && form.get('passwordOne')?.invalid" class="error">
          <small *ngIf="form.get('passwordOne')?.errors?.['required']">Senha é obrigatória.</small>
          <small *ngIf="form.get('passwordOne')?.errors?.['minlength']">Senha deve ter no mínimo 6 caracteres.</small>
          <small *ngIf="form.get('passwordOne')?.errors?.['pattern']">Senha deve ser alfanumérica e conter símbolos especiais.</small>
        </div>
      </div>
      <div class="newInput password-container">
        <input type="password" formControlName="passwordTwo" placeholder="Repita sua nova senha" required id="passwordTwo">
        <button type="button" class="toggle-password" (mousedown)="showPassword('passwordTwo')" (mouseup)="hidePassword('passwordTwo')" (mouseleave)="hidePassword('passwordTwo')">
          <span id="eyeIconTwo" class="material-symbols-outlined login-visibility">visibility_off</span>
        </button>
        <div *ngIf="form.get('passwordTwo')?.touched && form.get('passwordTwo')?.invalid" class="error">
          <small *ngIf="form.get('passwordTwo')?.errors?.['required']">Repetir a senha é obrigatório.</small>
          <small *ngIf="form.get('passwordTwo')?.errors?.['mismatch']">As senhas devem ser iguais.</small>
        </div>
      </div>
    </form>

    <div class="buttonGroupForm">
      <button class="button two" (click)="cancel()">Cancelar</button>
      <button class="button one" (click)="submit()">Alterar</button>
    </div>
  </div>
</div>
