<div class="boxSize">
  <div class="boxContent">
    <div class="initFill"></div>
    <div class="titles">
      <p class="mainTitle primary" [ngClass]="{'fade-out': fadingOut, 'fade-in': fadingInPrimary}">{{ mainTitle }}</p>
      <p class="subTitle primary" [ngClass]="{'fade-out': fadingOut, 'fade-in': fadingInPrimary}">{{ subTitle }}</p>
      <p class="mainTitle secondary" [ngClass]="{'fade-in': fadingInSecondary}" *ngIf="showSecondary">{{ newMainTitle }}</p>
      <p class="subTitle secondary" [ngClass]="{'fade-in': fadingInSecondary}" *ngIf="showSecondary">{{ newSubTitle }}</p>
    </div>
    <div class="imageBox">
      <img src="./../../../assets/images/main-character.png" alt="">
    </div>
  </div>
</div>
