.boxSize {
  width: 100%;
  height: fit-content;
  padding: 0 var(--content-padding);
  background-color: white;
  border-radius: var(--primary-boxes-radius);
  box-sizing: border-box;
  overflow: hidden; /* Garantir que o texto não ultrapasse a caixa */
}

.initFill {
  width: var(--content-padding);
  height: 100%;
}

.boxContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

p {
  padding: 0 var(--content-padding);
  margin: 0;
  transition: all 0.3s ease-in-out; /* Transição para a animação */
}

.titles {
  gap: 3px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 var(--content-padding);
  position: relative;
}

.mainTitle {
  color: var(--dark-gray);
  font-size: var(--big-font-size);
  font-weight: 600;
}

.subTitle {
  color: var(--medium-gray);
  font-size: var(--normal-font-size);
}

.imageBox {
  height: fit-content;
  width: 60%;
  padding: 0;
}

img {
  width: 100%;
}

/* Classes de animação */
.fade-out {
  transform: translateX(-50%);
  opacity: 0;
}
.fade-in {
  transform: translateX(50%);
  opacity: 0;
}
.fade-out-active {
  transform: translateX(0);
  opacity: 1;
}
.fade-in-active {
  transform: translateX(0);
  opacity: 1;
}
