<div class="marginPage">
  <div class="flexContent">
    <app-menu></app-menu>
    <div class="mainContent">
      <app-guide-panel></app-guide-panel>
      <app-cadastro-gerencia></app-cadastro-gerencia>
      <!-- <app-cadastro-local></app-cadastro-local>
      <app-cadastro-turma></app-cadastro-turma>
      <app-cadastro-coordenador></app-cadastro-coordenador>
      <app-cadastro-disciplina></app-cadastro-disciplina>
      <app-cadastro-aluno></app-cadastro-aluno> -->
      <br>
    </div>
    <app-calendar></app-calendar>
  </div>
</div>
