.marginPage {
  margin: 30px;
  position: absolute;
  width: calc(100% - 60px);
  height: calc(100vh - 60px);
}

.flexContent {
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-direction: row;
  align-content: center;
}

.mainContent {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.leftContent {
  width: 19%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

router-outlet {
  width: fit-content;
  height: fit-content;
}
