<div class="componentContent">

  <div class="backTitle">
    <p class="pageTitle">Aulas cadastradas</p>
    <button class="backPage" (click)="backPage()">
      <span class="material-symbols-outlined">arrow_back</span>
      <p class="pageTitle">Voltar</p>
    </button>
  </div>

  <div class="boxSize">

    <table mat-table [dataSource]="aulas">

      <ng-container matColumnDef="discipline">
        <th mat-header-cell *matHeaderCellDef>Disciplina</th>
        <td mat-cell *matCellDef="let aula"> {{ aula.discipline.name }} <td>
      </ng-container>

      <ng-container matColumnDef="teacher">
        <th mat-header-cell *matHeaderCellDef>Professor</th>
        <td mat-cell *matCellDef="let aula"> {{ aula.teacher.name }} <td>
      </ng-container>

      <ng-container matColumnDef="semester">
        <th mat-header-cell *matHeaderCellDef>Semestre</th>
        <td mat-cell *matCellDef="let aula"> {{ aula.semester.semester }} <td>
      </ng-container>

      <ng-container matColumnDef="weeklyQuantity">
        <th mat-header-cell *matHeaderCellDef>Aulas por semana</th>
        <td mat-cell *matCellDef="let aula"> {{ aula.weeklyQuantity }} <td>
      </ng-container>

      <ng-container matColumnDef="allocatedLessons">
        <th mat-header-cell *matHeaderCellDef>Aulas alocadas</th>
        <td mat-cell *matCellDef="let aula">{{ aulasAlocadasPorAula.get(aula._id) || 0 }}<td>
      </ng-container>

      <ng-container matColumnDef="allocated">
        <th mat-header-cell *matHeaderCellDef>Alocação</th>
        <td mat-cell *matCellDef="let aula">
          <ng-container *ngIf="!isLimiteMaximoAtingido(aula); else limiteAtingido">
            <button mat-button (click)="alocarAula(aula)" class="button two">
              Alocar agora
            </button>
          </ng-container>
          <ng-template #limiteAtingido>
            <span>Limite máximo atingido</span>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="students">
        <th mat-header-cell *matHeaderCellDef>Alunos matriculados</th>
        <td mat-cell *matCellDef="let aula">
          <ng-container>
            <button mat-button
                    (click)="alunosAula(aula)"
                    class="button two">
              Ver
            </button>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions" *ngIf="userRole === 'ADMIN' || userRole === 'COORDINATOR'">
        <th mat-header-cell *matHeaderCellDef>
          <div class="thButton">
            <div>Ações</div>
            <button class="subMenuButton newButton" (click)="cadastrar()">
              <div class="subMenuButtonText">Cadastrar</div>
            </button>
          </div>
        </th>
        <td mat-cell *matCellDef="let equipamento" class="buttonGroupForm">
          <button mat-button (click)="editar(equipamento)" class="button two">
            <span class="material-symbols-outlined table-button-icon">edit</span>
          </button>
          <button mat-button (click)="excluir(equipamento)" class="button two delete-button">
            <span class="material-symbols-outlined table-button-icon">delete</span>
          </button>
        </td>
      </ng-container> 

        <tr class="header-row" mat-header-row *matHeaderRowDef="userRole === 'ADMIN' || userRole === 'COORDINATOR' ? ['discipline', 'teacher', 'semester', 'weeklyQuantity', 'allocatedLessons', 'allocated', 'students', 'actions'] : ['discipline', 'teacher', 'semester', 'weeklyQuantity', 'allocatedLessons', 'allocated', 'students']"></tr>
        <tr mat-row *matRowDef="let row; columns: userRole === 'ADMIN' || userRole === 'COORDINATOR' ? ['discipline', 'teacher', 'semester', 'weeklyQuantity', 'allocatedLessons', 'allocated', 'students',  'actions'] : ['discipline', 'teacher', 'semester', 'weeklyQuantity', 'allocatedLessons', 'allocated', 'students'];"></tr>
    </table>

    <!-- <mat-paginator pageSize="5" showFirstLastButtons></mat-paginator> -->

  </div>
</div>
