<div class="componentContent">

  <p class="pageTitle">Cadastar Disciplina</p>

  <div class="boxSize">

    <form action="/criar-disciplina" method="post">

      <div class="newInput">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" placeholder="Nome da disciplina" required>
      </div>

      <div class="buttonGroupForm">
        <button class="button two" type="button" (click)="cancelar()">Cancelar</button>
        <button class="button one" type="submit">Criar Disciplina</button>
      </div>

    </form>
  </div>
</div>
