<div class="componentContent">

  <div class="backTitle">
    <p class="pageTitle">Eventos cadastrados</p>
    <button class="backPage" (click)="backPage()">
      <span class="material-symbols-outlined">arrow_back</span>
      <p class="pageTitle">Voltar</p>
    </button>
  </div>

  <div class="boxSize">

    <div class="newInput addSpace">
      <input matInput (keyup)="applyFilter($event)" placeholder="Pesquise pela disciplina ou professor">
    </div>

    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
        <td mat-cell *matCellDef="let evento"> {{ evento.name }} <td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let evento"> {{ evento.description }} <td>
      </ng-container>

      <ng-container matColumnDef="allocated">
        <th mat-header-cell *matHeaderCellDef>Alocação</th>
        <td mat-cell *matCellDef="let evento">
          <ng-container *ngIf="!evento.allocated; else alocado">
            <!-- <button mat-button
                    (click)="alocarEvento(evento)"
                    (mouseover)="changeText('alocar', true)"
                    (mouseleave)="changeText('alocar', false)"
                    class="button two">
              {{ hoverText }}
            </button> -->
            <button mat-button
                    (click)="alocarEvento(evento)"
                    class="button two">
              Alocar agora
            </button>
          </ng-container>
          <ng-template #alocado>
            <span>Já alocado</span>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          <div class="thButton">
            <div>Ações</div>
            <button class="subMenuButton newButton" (click)="cadastrar()">
              <div class="subMenuButtonText">Cadastrar</div>
            </button>
          </div>
        </th>
        <td mat-cell *matCellDef="let professor" class="buttonGroupForm">
          <button mat-button (click)="editar(professor)" class="button two">
            <span class="material-symbols-outlined table-button-icon">edit</span>
            Editar
          </button>
          <button mat-button (click)="excluir(professor)" class="button two delete-button">
            <span class="material-symbols-outlined table-button-icon">delete</span>
            Excluir
          </button>
        </td>
      </ng-container>

      <tr class="header-row" mat-header-row *matHeaderRowDef="['name', 'description', 'allocated', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'description', 'allocated', 'actions']"></tr>
    </table>

    <mat-paginator pageSize="10" showFirstLastButtons></mat-paginator>

  </div>
</div>
