<div class="componentContent">

  <div class="allButtonsGroup">
    <p class="pageTitle">Nova alocação</p>

    <div class="subMenuButtonGroup">
      <div class="subMenuButtonGroupSpace">
        <div class="buttonContainer">
          <button
            class="subMenuButton"
            routerLink="/alocar-local/gerencia-aula"
            style="z-index: 1"
          >
            <span class="material-symbols-outlined">door_front</span>
            <div class="subMenuButtonText">Aula</div>
          </button>
        </div>

        <div class="buttonContainer">
          <button
            class="subMenuButton"
            routerLink="/alocar-local/gerencia-evento"
            style="z-index: 1"
          >
            <span class="material-symbols-outlined">event_seat</span>
            <div class="subMenuButtonText">Evento</div>
          </button>
        </div>
      </div>
    </div>
  </div>

  <p class="pageTitle">Alocações</p>

  <div class="boxSize">
    <div class="selectGroup">
      <div class="selectGroup">
        <div class="newInput">
          <label for="allocateFilter">Filtrar por:</label>
          <select name="allocateFilter" [(ngModel)]="selectedFilter" (change)="toggleTableVisibility(selectedFilter)">
            <option>Ambos</option>
            <option>Aula</option>
            <option>Evento</option>
          </select>
        </div>
        <div class="newInput">
          <label for="periodFilter">Período:</label>
          <select name="periodFilter">
            <option>Sempre</option>
            <option>Hoje</option>
            <option>Amanhã</option>
            <option>Essa semana</option>
            <option>Selecionar...</option>
          </select>
        </div>
      </div>
    </div>

    <br>
    <div class="tituloTabela" [ngClass]="{'hide': selectedFilter !== 'Ambos' && selectedFilter !== 'Aula'}">
      <p class="pageTitle">Alocações de Aula</p>

      <table mat-table [dataSource]="alocacoesAula">

        <ng-container matColumnDef="discipline">
          <th mat-header-cell *matHeaderCellDef>Disciplina</th>
          <td mat-cell *matCellDef="let alocacao">
            <ng-container *ngIf="alocacao.type === 'Aula'">
              {{ alocacao.lesson.discipline.name }}
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="teacher">
          <th mat-header-cell *matHeaderCellDef>Professor</th>
          <td mat-cell *matCellDef="let alocacao">
            <ng-container *ngIf="alocacao.type === 'Aula'">
              {{ alocacao.lesson.teacher.name }}
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="class">
          <th mat-header-cell *matHeaderCellDef>Turma</th>
          <td mat-cell *matCellDef="let alocacao">
            <ng-container *ngIf="alocacao.type === 'Aula'">
              {{ alocacao.classe.name }}
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef>Local</th>
          <td mat-cell *matCellDef="let alocacao">
            <ng-container *ngIf="alocacao.type === 'Aula'">
              {{ alocacao.location.name }}
            </ng-container>
          <td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Período (Data)</th>
          <td mat-cell *matCellDef="let alocacao">
            <ng-container *ngIf="alocacao.type === 'Aula'">
              {{ alocacao.startDate | date: 'dd/MM/yyyy'}} - {{ alocacao.endDate | date: 'dd/MM/yyyy'}}
            </ng-container>
          <td>
        </ng-container>

        <ng-container matColumnDef="weekDay">
          <th mat-header-cell *matHeaderCellDef>Dia</th>
          <td mat-cell *matCellDef="let alocacao">
            <ng-container *ngIf="alocacao.type === 'Aula'">
              {{ alocacao.weekDay }}
            </ng-container>
          <td>
        </ng-container>

        <ng-container matColumnDef="schedule">
          <th mat-header-cell *matHeaderCellDef>Horário</th>
          <td mat-cell *matCellDef="let alocacao">
            <ng-container *ngIf="alocacao.type === 'Aula'">
              {{ getFormattedSchedule(alocacao) }}
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="changeHistory">
          <th mat-header-cell *matHeaderCellDef>Histórico de Alterações</th>
          <td mat-cell *matCellDef="let alocacao">
            <button mat-button (click)="verHistoricoAula(alocacao)" class="button two">
              <span class="material-symbols-outlined table-button-icon">visibility</span>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>
            <div>Ações</div>
          </th>
          <td mat-cell *matCellDef="let obj" class="actionButtons">
            <div class="buttonGroupForm">
              <ng-container *ngIf="obj.active; else desativada">
                <button mat-button (click)="editarAlocacaoAula(obj)" class="button two">
                  <span class="material-symbols-outlined table-button-icon">edit</span>
                </button>
                <button mat-button (click)="excluirAlocacaoAula(obj)" class="button two delete-button">
                  <span class="material-symbols-outlined table-button-icon">delete</span>
                </button>
              </ng-container>
              <ng-template #desativada>
                <div class="desactivatedAlloc">
                  <span>Desativada</span>
                </div>
              </ng-template>
            </div>
          </td>
        </ng-container>



        <tr class="header-row" mat-header-row *matHeaderRowDef="['discipline', 'teacher', 'class', 'location', 'date', 'weekDay', 'schedule', 'changeHistory', 'actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['discipline', 'teacher', 'class', 'location', 'date', 'weekDay', 'schedule',  'changeHistory', 'actions']" [ngClass]="{'row-disabled': !row.active}"></tr>
      </table>
      <br>
    </div>

    <div class="tituloTabela" [ngClass]="{'hide': selectedFilter !== 'Ambos' && selectedFilter !== 'Evento'}">
      <p class="pageTitle">Alocações de Evento</p>

      <table mat-table [dataSource]="alocacoesEvento">

        <ng-container matColumnDef="event">
          <th mat-header-cell *matHeaderCellDef>Evento</th>
          <td mat-cell *matCellDef="let alocacao">
            <ng-container *ngIf="alocacao.type === 'Evento'">
            {{ alocacao.event.name }}
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Descrição</th>
          <td mat-cell *matCellDef="let alocacao">
            <ng-container *ngIf="alocacao.type === 'Evento'">
              {{ alocacao.event.description }}
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="applicant">
          <th mat-header-cell *matHeaderCellDef>Requerente</th>
          <td mat-cell *matCellDef="let alocacao">
            <ng-container *ngIf="alocacao.type === 'Evento'">
              {{ alocacao.applicant }}
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef>Local</th>
          <td mat-cell *matCellDef="let alocacao">
            <ng-container *ngIf="alocacao.type === 'Evento'">
              {{ alocacao.location.name }}
            </ng-container>
          <td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Data</th>
          <td mat-cell *matCellDef="let alocacao">
            <ng-container *ngIf="alocacao.type === 'Evento'">
              {{ alocacao.startDate | date: 'dd/MM/yyyy'}}
            </ng-container>
          <td>
        </ng-container>

        <ng-container matColumnDef="schedule">
          <th mat-header-cell *matHeaderCellDef>Horário</th>
          <td mat-cell *matCellDef="let alocacao">
            <ng-container *ngIf="alocacao.type === 'Evento'">
              {{ alocacao.startTime }} ~ {{ alocacao.endTime }}
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="changeHistory">
          <th mat-header-cell *matHeaderCellDef>Histórico de Alterações</th>
          <td mat-cell *matCellDef="let alocacao">
            <button mat-button (click)="verHistoricoEvento(alocacao)" class="button two">
              <span class="material-symbols-outlined table-button-icon">visibility</span>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>
            <div>Ações</div>
          </th>
          <td mat-cell *matCellDef="let obj" class="actionButtons">
            <div class="buttonGroupForm">
              <ng-container *ngIf="obj.active; else desativada">
                <button mat-button (click)="editarAlocacaoEvento(obj)" class="button two">
                  <span class="material-symbols-outlined table-button-icon">edit</span>
                </button>
                <button mat-button (click)="excluirAlocacaoEvento(obj)" class="button two delete-button">
                  <span class="material-symbols-outlined table-button-icon">delete</span>
                </button>
              </ng-container>
              <ng-template #desativada>
                <div class="desactivatedAlloc">
                  <span>Desativada</span>
                </div>
              </ng-template>
            </div>
          </td>
        </ng-container>

        <tr class="header-row" mat-header-row *matHeaderRowDef="['event', 'description', 'applicant', 'location', 'date', 'schedule', 'changeHistory', 'actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['event', 'description', 'applicant', 'location', 'date', 'schedule', 'changeHistory', 'actions']" [ngClass]="{'row-disabled': !row.active}"></tr>
      </table>
    </div>
  </div>
  <!-- <mat-paginator pageSize="5" showFirstLastButtons></mat-paginator> -->
</div>
