<div>
  <div class="dialog-container">
    <p class="pageTitle">Você está alocando um evento.</p>
    <p class="pageText">
      Nome: {{ data.evento.name }}<br />
      Descrição: {{ data.evento.description }}<br />
    </p>

    <form [formGroup]="form">
      <div class="newInput">
        <label for="location">Local:</label>
        <select formControlName="location" required>
          <option *ngFor="let local of locais" [value]="local._id">
            {{ local.name }}
          </option>
        </select>
      </div>

      <div class="newInput">
        <label for="startDate">Data:</label>
        <input type="date" formControlName="startDate" required />
      </div>

      <div class="selectGroup">
        <div class="newInput">
          <label for="startTime">Início:</label>
          <input type="time" formControlName="startTime" placeholder="Horário de início da aula" required>
        </div>

        <div class="newInput">
          <label for="endTime">Fim:</label>
          <input type="time" formControlName="endTime" placeholder="Horário de término da aula" required>
        </div>
      </div>

      <div class="buttonGroupForm">
        <button class="button two" (click)="onCancel()">Cancelar</button>
        <button class="button one" (click)="onSubmit()">Alocar evento</button>
      </div>
    </form>
  </div>
</div>
