<div class="infoBox">
  <ng-container *ngIf="data.type === 'Aluno'">
    <p class="pageTitle">Aluno selecionado</p>
    <p class="pageText">
      Nome: {{ data.name }}<br />
      Matrícula: {{ data.registration }}
    </p>
  </ng-container>
  <ng-container *ngIf="data.type === 'Professor'">
    <p class="pageTitle">Professor selecionado</p>
    <p class="pageText">
      Nome: {{ data.name }}<br />
      Código: {{ data.registration }}
    </p>
  </ng-container>
  <ng-container *ngIf="!data.type">
    <p class="pageTitle">Pesquise por um horário ao lado</p>
  </ng-container>
</div>
