<div class="componentContent">

  <p class="pageTitle">Cadastar Turma</p>

  <div class="boxSize">

    <form action="/criar-turma" method="post">

      <div class="newInput">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" placeholder="Nome da turma" required>
      </div>

      <div class="buttonGroupForm">
        <button class="button two" type="button" onclick="cancelar()">Cancelar</button>
        <button class="button one" type="submit">Criar Turma</button>
      </div>

    </form>
  </div>
</div>
