<div class="componentContent">

  <div class="backdrop" *ngIf="subMenuOpenCadastro || subMenuOpenGerenciar" (click)="toggleSubMenu('fechar')"></div>

  <p class="pageTitle">Cadastro, gerenciamento e visualização</p>

  <div class="subMenuButtonGroup">
    <div class="subMenuButtonGroupSpace">
      <div class="subMenuWithOptions">

        <!-- Botão "Cadastrar" -->
        <div class="buttonContainer">
          <button #cadastroButton class="subMenuButton" (click)="toggleSubMenu('cadastro')" [ngClass]="{ 'active': subMenuOpenCadastro }">
            <span class="material-symbols-outlined">add</span><div class="subMenuButtonText">Cadastrar</div>
          </button>
        </div>

        <!-- Opções do leque - Cadastro -->
        <div class="subMenuOptionsCadastro" *ngIf="subMenuOpenCadastro && cadastroButton">
          <button class="subMenuOption button three" style="border-radius: var(--primary-boxes-radius) var(--primary-boxes-radius) 0 0;" 
          routerLink="/cadastro-local">
          Local
        </button>
          <button class="subMenuOption button three" style="border-radius: 0;" 
          routerLink="/cadastro-turma" >
          Turma
        </button>
          <button class="subMenuOption button three" style="border-radius: 0;" 
          routerLink="/cadastro-coordenador">
          Coordenador
        </button>
          <button class="subMenuOption button three" style="border-radius: 0;" 
          routerLink="/"
          >
          Disciplina
        </button>
          <button class="subMenuOption button three" style="border-radius: 0 0 var(--primary-boxes-radius) var(--primary-boxes-radius);" 
          routerLink="/" >
          Aluno
        </button>
        </div>

      </div>

      <div class="subMenuWithOptions">

        <!-- Botão "Gerenciar/Visualizar" -->
        <div class="buttonContainer">
          <button #gerenciarButton class="subMenuButton" (click)="toggleSubMenu('gerenciar')" [ngClass]="{ 'active': subMenuOpenGerenciar }">
            <span class="material-symbols-outlined">check_circle</span><div class="subMenuButtonText">Gerenciar / Visualizar</div>
          </button>
        </div>

        <!-- Opções do leque - Gerenciar/Visualizar -->
        <div class="subMenuOptionsGerenciar" *ngIf="subMenuOpenGerenciar && gerenciarButton">
          <button class="subMenuOption button three" style="border-radius: var(--primary-boxes-radius) var(--primary-boxes-radius) 0 0;">Local</button>
          <button class="subMenuOption button three" style="border-radius: 0;">Turma</button>
          <button class="subMenuOption button three" style="border-radius: 0;">Coordenador</button>
          <button class="subMenuOption button three" style="border-radius: 0;">Disciplina</button>
          <button class="subMenuOption button three" style="border-radius: 0 0 var(--primary-boxes-radius) var(--primary-boxes-radius);">Aluno</button>
        </div>

      </div>

    </div>
  </div>
</div>
