@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  --primary-color: #359830;
  --secondary-color: #296626;
  --tertiary-color: #e7e7e7;
  --primary-boxes-radius: 15px;
  --secondary-boxes-radius: 5px;
  --content-pading: 25px;
  --big-font-size: 26px;
  --normal-font-size: 14px;
  --small-font-size: 12px;
  --dark-gray: #393939;
  --medium-gray: #666666;
  --light-gray: #D4D4D4;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--tertiary-color);
  font-family: "Inter", sans-serif;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.boxSize {
  width: 100%;
  height: fit-content;
  padding: var(--content-pading);
  background-color: white;
  border-radius: var(--primary-boxes-radius);
  box-sizing: border-box;
}

.page {
  width: 100%;
  height: 100vh;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  backdrop-filter: blur(2px);
}

.dialog-container {
  width: 400px;
  margin: 0;
  padding: var(--content-pading);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 10000;
  border-radius: var(--primary-boxes-radius);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  width: 100%;
  padding: 8px;
  margin: 0;
  border-radius: var(--secondary-boxes-radius);
  border: 0;
  transition: background-color 0.15s ease-in-out;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.subMenuButton {
  margin: 0;
  padding: 18px;
  background-color: white;
  color: var(--dark-gray);
  width: 100%;
  height: 60px;
  border-radius: var(--primary-boxes-radius);
  border: 0;
  transition: background-color 0.15s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
  z-index: 1001;
}

.newButton {
  padding: 6px;
  width: fit-content;
  height: fit-content;
  border-radius: var(--secondary-boxes-radius);
  margin: 0 8px 0 0;
  z-index: 997;
}

.subMenuButtonText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.subMenuButton.active {
  background-color: var(--secondary-color);
  color: white;
}

.subMenuOptionsCadastro, .subMenuOptionsGerenciar {
  margin: 0;
  display: none;
  position: absolute;
  background-color: white;
  border-radius: var(--primary-boxes-radius);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  width: 160px;
  margin-top: 10px;
  z-index: 1001;
}

.subMenuButtonGroupSpace{
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  margin: 0 0 10px 0;
}

.buttonContainer {
  flex-basis: calc(25% - 10px);
  max-width: 25%;
}

.subMenuOptionsCadastro.active, .subMenuOptionsGerenciar.active {
  display: block;
}

.subMenuOptionsCadastro, .subMenuOptionsGerenciar, .subMenuOption {
  display: block;
}

.subMenuOptionsCadastro button, .subMenuOptionsGerenciar button {
  display: block;
}

.button:hover, .subMenuButton:hover {
  color: white;
  background-color: var(--secondary-color);
  cursor: pointer;
}

.button:active, .subMenuButton:active {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.700);
}

.one {
  color: white;
  background-color: var(--primary-color);
}

.two {
  background-color: var(--tertiary-color);
}

.three {
  background-color: rgba(255, 255, 255, 0);
}

tr:not(.header-row):hover .button {
  background-color: white !important;
}

tr:not(.header-row):hover .button:hover {
  background-color: var(--secondary-color) !important;
  color: white;
}

tr:not(.header-row):hover .delete-button:hover {
  background-color: darkred !important;
}

.pageTitle {
  font-size: var(--normal-font-size);
  padding: 0;
  margin: 0;
  font-weight: 600;
  color: var(--dark-gray);
}

.newInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.disabledInput {
  background-color: var(--light-gray);
}

label {
  color: var(--dark-gray);
  font-size: var(--normal-font-size);
  font-weight: 600;
}

input, select, textarea {
  padding: 6px;
  border-radius: var(--secondary-boxes-radius);
  border: 2px solid var(--light-gray);
}

textarea {
  resize: vertical;
}

select {
  padding: 5px;
}

.buttonGroupForm {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin: 0 8px 0 0;
}

.successSnackbar {
  --mdc-snackbar-container-color: var(--primary-color);
  --mdc-snackbar-supporting-text-color: white;
  --mdc-snackbar-supporting-text-weight: 500;
  z-index: 10000;
  position: fixed;
  left: 50%;
  bottom: 30px;

}

.errorSnackbar {
  --mdc-snackbar-container-color: var(--primary-color);
  --mdc-snackbar-supporting-text-color: white;
  z-index: 10000;
  position: fixed;
  left: 50%;
  bottom: 30px;
}

.componentContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: fit-content;
  margin: 0 0 30px 0;
}

.backTitle {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
}

.backPage {
  display: flex;
  flex-direction: row;
  gap: 2px;
  height: fit-content;
  align-items: center;
  justify-content: center;
  background-color: #ffffff00;
  border: 0;
  padding: 0;
  margin: 0;
}

.backPage:hover p.pageTitle {
  text-decoration: underline;
  cursor: pointer;
}

::ng-deep .mat-mdc-paginator-container {
  padding: 10px 0;
}

::ng-deep .mat-mdc-paginator-outer-container {
  background-color: var(--primary-color);
  border-radius: var(--secondary-boxes-radius);
  color: white;
}

.pageBody {
  font-size: 12px;
  padding: 5px 0;
  margin: 0;
}

.backNew {
  display: flex;
  align-items: center;
  gap: 15px;
}

.thButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.allButtonsGroup {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  gap: 10px;
}

td:not(.mat-column-actions), th:not(.mat-column-actions) {
  white-space: normal;
  word-wrap: break-word;
  max-width: 100px;
}

tr:not(.header-row):hover {
  background-color: var(--tertiary-color) !important;
}

tr:not(.header-row) {
  transition: background-color 0.2s ease-in-out;
}

.selectGroup {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  gap: 10px;
}
