@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  --primary-color: #359830;
  --secondary-color: #296626;
  --tertiary-color: #e7e7e7;
  --primary-boxes-radius: 15px;
  --secondary-boxes-radius: 5px;
  --content-pading: 25px;
  --big-font-size: 26px;
  --normal-font-size: 14px;
  --small-font-size: 12px;
  --smallest-font-size: 11px;
  --dark-gray: #393939;
  --medium-gray: #666666;
  --light-gray: #D4D4D4;
  --warn-color: darkred;
}

html::-webkit-scrollbar, div::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb {
  background-color: rgb(182, 182, 182);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover, div::-webkit-scrollbar-thumb:hover {
  background-color: rgb(140, 140, 140);
}

html::-webkit-scrollbar-track, div::-webkit-scrollbar-track {
  background-color: #ffffff00;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--tertiary-color);
  font-family: "Inter", sans-serif;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.boxSize {
  width: 100%;
  height: fit-content;
  padding: var(--content-pading);
  background-color: white;
  border-radius: var(--primary-boxes-radius);
  box-sizing: border-box;
}

.infoBox {
  width: 100%;
  height: 100%;
  padding: 0 var(--content-pading);
  background-color: white;
  border-radius: var(--primary-boxes-radius);
  box-sizing: border-box;
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.page {
  width: 100%;
  height: 100vh;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  backdrop-filter: blur(2px);
}

.backdropTwo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1001;
  backdrop-filter: blur(2px);
}

.dialog-container {
  width: 400px;
  margin: 0;
  padding: var(--content-pading);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 1000;
  border-radius: var(--primary-boxes-radius);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.historyWindow {
  height: fit-content;
  max-height: 80vh;
  overflow: auto;
}

.dialog-container-two {
  z-index: 1002;
}

.dialogOK {
  z-index: 1010;
}

.button {
  width: 100%;
  padding: 8px;
  margin: 0;
  border-radius: var(--secondary-boxes-radius);
  border: 0;
  transition: background-color 0.15s ease-in-out;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.subMenuButton {
  margin: 0;
  padding: 18px;
  background-color: white;
  color: var(--dark-gray);
  width: 100%;
  height: 60px;
  border-radius: var(--primary-boxes-radius);
  border: 0;
  transition: background-color 0.15s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
  z-index: 1001;
}

.newButton {
  padding: 6px;
  width: fit-content;
  height: fit-content;
  border-radius: var(--secondary-boxes-radius);
  margin: 0 8px 0 0;
  z-index: 997;
}

.subMenuButtonText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.subMenuButton.active {
  background-color: var(--secondary-color);
  color: white;
}

.subMenuOptionsCadastro, .subMenuOptionsGerenciar {
  margin: 0;
  display: none;
  position: absolute;
  background-color: white;
  border-radius: var(--primary-boxes-radius);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  width: 160px;
  margin-top: 10px;
  z-index: 1001;
}

.subMenuButtonGroupSpace{
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  margin: 0 0 10px 0;
}

.buttonContainer {
  flex-basis: calc(25% - 10px);
  max-width: 25%;
}

.subMenuOptionsCadastro.active, .subMenuOptionsGerenciar.active {
  display: block;
}

.subMenuOptionsCadastro, .subMenuOptionsGerenciar, .subMenuOption {
  display: block;
}

.subMenuOptionsCadastro button, .subMenuOptionsGerenciar button {
  display: block;
}

.button:hover, .subMenuButton:hover {
  color: white;
  background-color: var(--secondary-color);
  cursor: pointer;
}

.button:active, .subMenuButton:active {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.700);
}

.small-button {
  font-size: 12px;
  max-width: 200px;
}

.one {
  color: white;
  background-color: var(--primary-color);
}

.two {
  background-color: var(--tertiary-color);
}

.three {
  background-color: rgba(255, 255, 255, 0);
}

tr:not(.header-row):hover .button {
  background-color: white !important;
}

tr:not(.header-row):hover .button:hover {
  background-color: var(--secondary-color) !important;
  color: white;
}

tr:not(.header-row):hover .delete-button:hover {
  background-color: darkred !important;
}

.pageTitle {
  font-size: var(--normal-font-size);
  padding: 0;
  margin: 0;
  font-weight: 600;
  color: var(--dark-gray);
}

.newInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.disabledInput {
  background-color: var(--light-gray);
}

label {
  color: var(--dark-gray);
  font-size: var(--normal-font-size);
  font-weight: 600;
}

input, select, textarea {
  padding: 6px;
  border-radius: var(--secondary-boxes-radius);
  border: 2px solid var(--light-gray);
}

textarea {
  resize: vertical;
}

select {
  padding: 5px;
}

.buttonGroupForm {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.buttonGroup {
  display: flex;
  align-items: center;
  gap: 10px;
}

.actionButtons {
  margin: 0 8px 0 0;
}

.successSnackbar {
  --mdc-snackbar-container-color: var(--primary-color);
  --mdc-snackbar-supporting-text-color: white;
  --mdc-snackbar-supporting-text-weight: 500;
  z-index: 10000;
  position: fixed;
  left: 50%;
  bottom: 30px;

}

.errorSnackbar {
  --mdc-snackbar-container-color: var(--primary-color);
  --mdc-snackbar-supporting-text-color: white;
  z-index: 10000;
  position: fixed;
  left: 50%;
  bottom: 30px;
}

.componentContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: fit-content;
  margin: 0 0 30px 0;
}

.loginContent {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.backTitle {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
}

.backPage {
  display: flex;
  flex-direction: row;
  gap: 2px;
  height: fit-content;
  align-items: center;
  justify-content: center;
  background-color: #ffffff00;
  border: 0;
  padding: 0;
  margin: 0;
}

.backPage:hover p.pageTitle {
  text-decoration: underline;
  cursor: pointer;
}

::ng-deep .mat-mdc-paginator-container {
  padding: 10px 0;
}

::ng-deep .mat-mdc-paginator-outer-container {
  background-color: var(--primary-color);
  border-radius: var(--secondary-boxes-radius);
  color: white;
}

.pageBody {
  font-size: 12px;
  padding: 5px 0;
  margin: 0;
}

.backNew {
  display: flex;
  align-items: center;
  gap: 15px;
}

.thButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.allButtonsGroup {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  gap: 10px;
}

td:not(.mat-column-actions), th:not(.mat-column-actions) {
  white-space: normal;
  word-wrap: break-word;
  max-width: 100px;
}

tr:not(.header-row):hover {
  background-color: var(--tertiary-color) !important;
}

tr:not(.header-row) {
  transition: background-color 0.2s ease-in-out;
}

tr[mat-row].row-disabled {
  background-color: var(--light-gray);
}

.selectGroup {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  gap: 10px;
}

.pageText {
  font-size: var(--normal-font-size);
  padding: 0;
  margin: 0;
  color: var(--dark-gray);
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  height: 80px;
  padding: 5px;
  border: solid 1px var(--secondary-color);
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.marginPageLogin {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: absolute;
}

.pageSuperTitle {
  font-size: 30px;
  padding: 0;
  margin: 0;
  font-weight: 600;
  color: var(--dark-gray);
}

.pageDescription {
  font-size: var(--small-font-size);
  padding: 0 0 15px 0;
  margin: 0;
  font-weight: 400;
  color: var(--medium-gray);
}

.tituloTabela {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.separator {
  background-color: var(--light-gray);
  width: 100%;
  height: 2px;
  border-radius: 2px;
}

.desactivatedAlloc {
  color: white;
  background-color: var(--warn-color);
  padding: 10px;
  border-radius: var(--secondary-boxes-radius);
  margin: 0 8px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--small-font-size);
  width: 100%;
  height: max-content;
}

.bigHeight {
  height: 50vh;
}

.password-container {
  position: relative;
  width: 100%;
  margin-bottom: 10px; /* Adiciona espaço suficiente para a mensagem de erro */
}

.password-container input {
  width: 100%;
  padding-right: 40px; /* Espaço para o ícone */
  box-sizing: border-box; /* Inclui o padding no cálculo da largura */
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 100%;
}

.login-visibility {
  font-variation-settings: 'opsz' 20, 'wght' 300;
  color: #9a9a9a;
  font-size: 20px;
}

.login-visibility.dark {
  color: #555;
}

.error {
  position: absolute;
  bottom: -14px; /* Ajuste conforme necessário */
  left: 0;
  color: red;
  font-size: 12px;
  width: 100%;
  white-space: nowrap;
}

.addSpace {
  margin: 0 0 5px 0;
}

.addMoreSpace {
  margin: 0 0 10px 0;
}

#barcodeInput {
  position: absolute;
  top: -1000px;
}

.horarios-container {
  height: 200px;
  overflow-y: auto;
  margin-bottom: 20px;
  border: solid var(--medium-gray) 1px;
  padding: 10px;
  border-radius: var(--secondary-boxes-radius);
}

.horarios-list {
  font-size: 12px;
  line-height: 1.7;
}
