<div class="componentContent">

  <div class="allButtonsGroup">
    <p class="pageTitle">Alocar</p>

    <div class="subMenuButtonGroup">
      <div class="subMenuButtonGroupSpace">
        <div class="buttonContainer">
          <button
            class="subMenuButton"
            routerLink=""
          >
            <span class="material-symbols-outlined">door_front</span>
            <div class="subMenuButtonText">Aula</div>
          </button>
        </div>

        <div class="buttonContainer">
          <button
            class="subMenuButton"
            routerLink=""
          >
            <span class="material-symbols-outlined">event_seat</span>
            <div class="subMenuButtonText">Evento</div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
